.container {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  min-height: 60px;
  max-width: 800px;
  overflow-wrap: break-word;
}

.head {
  display: grid;
  grid-template-columns: 125px auto 125px 125px 155px 155px 70px 70px;
}

.head .item {
  border-top: none;
  font-weight: 700;
  text-transform: uppercase;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  font-size: 16px;
}

.row {
  display: grid;
  grid-template-columns: 125px auto 125px 125px 155px 155px 70px 70px;
  border-top: 1px solid hsla(0, 0%, 100%, .1);
}

.foot {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  border-top: 1px solid hsla(0, 0%, 100%, .1);
}

.btnempty {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 7.5px;
  padding: 0 15px;
  height: 40px;
  color: #fff;
  font-size: 16px;
  border-radius: 8px;
  transition: .5s ease-out;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 7.5px;
  padding: 0 15px;
  height: 40px;
  color: #fff;
  font-size: 16px;
  border-radius: 8px;
  transition: .5s ease-out; 
}

.button:hover {
  background: #e14eca;
  background-image: linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca);
  background-size: 210% 210%;
  background-position: 100% 0;
  background-color: #e14eca;
}

button.button:hover {
  box-shadow: 2px 2px 6px rgba(0,0,0,.4);
  transform: translateY(-1px);
}

.button:active {
  background: #fd5d93;
  background-image: linear-gradient(to bottom left, #fd5d93, #ec250d, #fd5d93);
  background-size: 210% 210%;
  background-position: 100% 0;
  background-color: #fd5d93;
}

button.button:active {
  transform: translateY(1px);
}

.button.active {
  background: #e14eca;
  background-image: linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca);
  background-size: 210% 210%;
  background-position: 100% 0;
  background-color: #e14eca;
}

.view {
  width: 40px;
  height: 40px;
  background-image: url('assets/view.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
}

.view:hover {
  background: #fd5d93 url('assets/view.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
}

.delete {
  width: 40px;
  height: 40px;
  background: url('assets/delete.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
}

.delete:hover {
  background: #fd5d93 url('assets/delete.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
}

@media screen and (max-width: 991px) {
  .head {
    display: none;
  }

  .row {
    grid-template-areas: 
            "name price status yes no view"
            "desc desc desc desc desc desc";
    grid-template-columns: 100px 65px 100px 100px 100px auto;
    grid-template-rows: 65px auto;
    border-top: 1px solid hsla(0, 0%, 100%, .1);
  }

  .item {
    justify-content: flex-start;
  }

  .item:first-child {
    grid-area: name;
  }

  .item:nth-child(2) {
    grid-area: desc;
  }

  .item:nth-child(3) {
    grid-area: price;
  }

  .item:nth-child(4) {
    grid-area: status;
  }

  .item:nth-child(5) {
    grid-area: yes;
  }

  .item:nth-child(6) {
    grid-area: no;
  }

  .item:last-child {
    grid-area: view;
  }
  
  .row:first-of-type {
    border-top: none;
  }
}

@media screen and (max-width: 576px) {
  .row {
    grid-template-areas: 
            "name price status"
            "yes no view"
            "desc desc desc";
    grid-template-columns: 125px 125px auto;
    grid-template-rows: 65px 65px auto;
    border-top: 1px solid hsla(0, 0%, 100%, .1);
  }

  .item {
    justify-content: flex-start;
  }

  .item:first-child {
    grid-area: name;
  }

  .item:nth-child(2) {
    grid-area: desc;
  }
  .item:nth-child(3) {
    grid-area: price;
  }
  .item:nth-child(4) {
    grid-area: status;
  }
  .item:nth-child(5) {
    grid-area: yes;
  }
  .item:nth-child(6) {
    grid-area: no;
  }

  .item:last-child {
    grid-area: view;
  }
}

.modal {
  background: var(--ebony-clay);
}
