*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  word-wrap: break-word;
  background-color: var(--background-dark);
  color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 400;
}

h2 {
  color: var(--font-color-main);
  font-size: var(--font-size-xxl);
}

a,
button {
  color: var(--white);
  transition: opacity 0.5s ease-out;
}

button {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

a:hover,
button:hover {
  color: var(--font-color-white);
  text-decoration: none;
  opacity: .8;
}

a:active,
button:active {
  opacity: 1;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

form {
  margin: 0
}

ul,
ol {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

#__next > div:first-child {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
