:root {
  /* Z-indexes */
  --index-modal: 110;

  /* Colors */
  --dark: #1C1C1E;
  --semi-black: #131315;
  --gray: #3A3A3C;
  --light-gray: #8E8E93;
  --white: #F2F2F7;
  --green: #20BF55;
  --teal: #01BAEF;
  --yellow: #FFD80C;
  --shadow: rgba(0, 0, 0, .5);

  /* Color Gradients */
  --green-teal: linear-gradient(245.64deg, #20BF55 27.3%, #01BAEF 71.55%);
  --orange-pink: linear-gradient(256.61deg, #FF4E00 35.43%, #FC575E 71.73%), #D5ADC8;
  --teal-purple: linear-gradient(360deg, #5DE6DE 0%, #B58ECC 58.33%), #B58ECC;
  --orange-yellow: linear-gradient(0deg, #FF4E00 0%, #FFD80C 100%);

  /* Shadows */
  --shadow-sm: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
  --shadow-md: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
  
  /* Borders */
  --radius-xs: 6px;
  --radius-sm: 8px;
  --radius-md: 15px;

  /* Font Sizes */
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-size-xxl: 36px;
  --font-size-banner: 76px;

  /* Spacings */
  --spacing-xxs: 5px;
  --spacing-xs: 10px;
  --spacing-sm: 15px;
  --spacing-md: 30px;
  --spacing-lg: 60px;

  /* Sizes */
  --size-sm: 40px;
  --size-md: 50px;
  --size-lg: 60px;

  /* Animation Times */
  --time-sm: .3s;
  --time-md: .5s;
  
  /* OLD */
  --gradient-orange-pink-teal: linear-gradient(to right bottom, #EFA875, #CBA7CB, #64B4F3);
  
  /* Background */
  --background-dark: #1c1c1e;
  --background-black: #131315;

  /* Border */
  --border-white: 1px solid #ffffff;

  /* Font Color */
  --font-color-white: #ffffff;

  /* --- */
  /* Padding */
  --section-padding-main: 135px 0 75px;
  --section-padding-second: 90px 0 60px;
  --section-padding-third: 135px 0 125px;

  /* Background Color */
  --background-main: #1c1c1e;
  --background-second: #131315;
  --background-third: #f5f5f5;
  --background-fourth: #ffffff;
  --background-login: #0077ff;

  /* Border */
  --border-main: 1px solid #ffffff;

  /* Border Radius */
  --border-radius-main: 8px;

  /* Font Color */
  --font-color-main: #ffffff;
  --font-color-second: #a0a0a1;
  --font-color-third: #131315;
}
