.wrapper {
  position: relative;
  background-color: var(--gray);
  box-shadow: var(--shadow-sm);
  border-radius: var(--radius-sm);
}

.button {
  position: relative;
  padding: 0 15px;
  padding-right: 40px;
  height: 40px;
  color: var(--white);
  font-size: var(--font-size-lg);
  font-weight: bold;
}

.button::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  width: 40px;
  height: 40px;
  background: url('/assets/arrow-down.svg') no-repeat center;
  background-size: 15px;
}

.button.isOpen::after {
  transform: rotate(180deg);
}

.dropdown {
  position: absolute;
  z-index: 100;
  top: calc(100% + 15px);
  right: 0;
  display: none;
  flex-direction: column;
  padding: 15px;
  width: max-content;
  background: var(--gray);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-md);
  opacity: 0;
  transition: opacity .5s ease-out;
}

.dropdownEnter,
.dropdownEnterActive,
.dropdownEnterDone,
.dropdownExit {
  display: flex;
}

.dropdownEnterActive,
.dropdownEnterDone {
  opacity: 1;
}

.dropdownExit {
  opacity: 0;
}

/* 
.dropdown {
  position: absolute;
  top: calc(100% + 15px);
  right: 0;
  display: none;
  flex-direction: column;
  padding: 15px;
  background-color: var(--gray);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-md);
  color: var(--white);
  font-size: var(--font-size-lg);
}

.dropdown.isOpen {
  display: flex;
} */

.dropdown > * {
  margin-bottom: 5px;
}

.checkbox {
  position: relative;
  padding: 0 15px;
  padding-left: 25px;
  height: 25px;
  color: inherit;
  font-size: var(--font-size-md);
  text-align: start;
  transition: opacity 0.5s ease-out;
}

.checkbox:hover {
  opacity: .5;
}

.checkbox:active {
  filter: brightness(100%);
  opacity: 1;
}

.checkbox::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 25px;
  height: 25px;
  background: url('/assets/blank-check-box.svg') no-repeat center;
  background-size: 15px;
}

.checkbox.checked::before {
  background: url('/assets/check-box.svg') no-repeat center;
  background-size: 15px;
}
