.wrapper {
  position: relative;
}

.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: var(--gray);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-sm);
}

.dropdown {
  position: absolute;
  z-index: 100;
  top: calc(100% + 15px);
  right: 0;
  display: none;
  flex-direction: column;
  padding: 15px;
  width: 200px;
  min-width: 200px;
  max-width: 200px;
  background: var(--gray);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-md);
  font-size: var(--font-size-sm);
  opacity: 0;
  transition: opacity .5s ease-out;
}

.dropdownEnter,
.dropdownEnterActive,
.dropdownEnterDone,
.dropdownExit {
  display: flex;
}

.dropdownEnterActive,
.dropdownEnterDone {
  opacity: 1;
}

.dropdownExit {
  opacity: 0;
}

.dropdown h5 {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 5px;
  font-size: inherit;
  font-weight: bold;
  cursor: default;
}

.dropdown h5::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  height: 1px;
  background: var(--white);
}

.dropdownEmpty {
  cursor: default;
}

.dropdownList {
  display: flex;
  flex-direction: column;
}

.dropdownItem {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  padding: 5px 5px 10px 5px;
}

.dropdownItem::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  height: 1px;
  background: var(--white);
}

.dropdownItem:last-child {
  margin-bottom: 0;
}

.dropdownItem:last-child::after {
  content: none;
}

.dropdownItem h6 {
  margin-bottom: 5px;
  font-weight: bold;
}


