.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.broadcasterNotFound {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: var(--font-size-lg);
  font-weight: bold;
}

.broadcaster {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-md);
  padding: var(--spacing-sm);
  background: var(--gray);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-sm);
}

.nickname {
  margin-right: var(--spacing-sm);
  font-weight: 600;
}

.avatar {
  width: var(--size-md);
  height: var(--size-md);
  border-radius: 50%;
  box-shadow: var(--shadow-sm);
}
