/* Banner Section */
.banner {
  position: relative;
  height: calc(100vh - 140px);
  padding: var(--section-padding-main);
  background: var(--background-main);
}

.bannerTitle {
  margin-bottom: 40px;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(to right, #EFA875, #CBA7CB, #64B4F3, #EFA875 100%);
  background-position-x: 0%;
  background-position-y: 0%;
  background-clip: border-box;
  background-position: 0 0;
  color: var(--font-color-main);
  font-size: var(--font-size-banner);
  font-weight: 700;
  text-align: center;
  transition: all 0.8s ease-in-out, font-size 0s;
}

.bannerSubtitle {
  color: var(--font-color-second);
  font-size: var(--font-size-xl);
  text-align: center;
}

.bannerScroll {
  position: absolute;
  bottom: 80px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  transform: translateX(-50%);
  color: #fff;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}

.bannerScroll:hover {
  opacity: .5;
}

.bannerScroll {
  padding-top: 60px;
}
.bannerScroll span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}

/* Latest Challenges */
.challenges {
  position: relative;
  padding: var(--section-padding-main);
}

.challengesItem {
  position: relative;
  z-index: 1;
  flex: 1;
  margin-bottom: 30px;
  padding: 1px;
  min-height: 180px;
  background: white;
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-md);
  transition: all .3s ease-out;
}

.challengesItem::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--gradient-orange-pink-teal);
  border-radius: var(--radius-sm);
  opacity: 0;
  transition: opacity .3s ease-out;
}

.challengesItem:hover::after {
  opacity: 1;
}

.challengesItem div {
  z-index: 2;
  padding: 15px;
  height: 100%;
  background: var(--semi-black);
  border-radius: var(--radius-sm);
}

.challengesItem * {
  cursor: default;
}

.challengesItem time {
  position: absolute;
  top: 15px;
  right: 15px;
  color: var(--gray);
  font-size: 14px;
  font-weight: 300;
}

.challengesItem h6 {
  margin-bottom: 5px;
  color: var(--gray);
  font-size: 14px;
  font-weight: 300;
}

.challengesItem h5 {
  margin-bottom: 10px;
  font-size: 18px;
}

.challengesItem h5 span {
  font-weight: 600;
}

.challengesItem p {
  font-size: 16px;
  font-weight: 300;
}











/* Features Section */
.features {
  position: relative;
  z-index: 1;
  padding: var(--section-padding-third);
  background: var(--background-main);
}

.features::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
  background: -webkit-linear-gradient(top, rgba(19, 19, 21, 0), rgb(19, 19, 21, 1));
}

.featuresItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--font-color-second);
  font-size: var(--font-size-xl);
}

@media screen and (max-width: 767px) {
  .featuresItem {
    margin-bottom: 50px;
  }

  .featuresItem:last-child {
    margin-bottom: 0;
  }
}

/* Dashboard Features Section */
.dashboardFeatures {
  padding: var(--section-padding-main);
  background: var(--background-second);
}

.dashboardFeaturesRow:first-child {
  margin-bottom: 60px;
} 

.dashboardFeaturesItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dashboardFeaturesItem h3 {
  margin-bottom: 28px;
  color: var(--font-color-main);
  font-size: var(--font-size-xxl);
}

.dashboardFeaturesItem p {
  margin-bottom: 60px;
  color: var(--font-color-second);
  font-size: var(--font-size-lg);
}

.dashboardFeaturesItem a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  height: 45px;
  border: var(--border-main);
  border-radius: var(--border-radius-main);
  color: var(--font-color-main);
  font-size: var(--font-size-xl);
}

@media screen and (max-width: 767px) {
  .dashboardFeaturesItem {
    align-items: center;
    text-align: center;
  }
}

/* Widget List Section */
.widgetList {
  position: relative;
  z-index: 1;
  padding: var(--section-padding-main);
  background: var(--background-main);
}

.widgetList::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  background: -webkit-linear-gradient(top, rgba(19, 19, 21, 1), rgb(19, 19, 21, 0));
}

.widgetList::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 80px;
  background: url('/assets/triangleSection.svg') no-repeat center;
  background-size: 100% 80px;
  bottom: 0;
  left: 0;
}

.widgetListTitle {
  margin-bottom: 40px;
  color: var(--font-color-main);
  font-size: var(--font-size-xxl);
}

.widgetListSubtitle {
  margin-bottom: 90px;
  color: var(--font-color-second);
  font-size: var(--font-size-xl);
}

.widgetItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.widgetItemImage {
  margin-bottom: 20px;
}

.widgetItemTitle {
  margin-bottom: 24px;
  color: var(--font-color-main);
  font-size: var(--font-size-xl);
}

.widgetItemText {
  margin-bottom: 24px;
  color: var(--font-color-second);
  font-size: var(--font-size-lg);
}

.widgetItemLink {
  color: var(--font-color-main);
  font-size: var(--font-size-lg);
}

.widgetItemLink:hover {
  color: var(--font-color-main);
}

.widgetItemLink::after {
  content: "\00a0→";
}

@media screen and (max-width: 767px) {
  .widgetList {
    text-align: center;
  }

  .widgetItem {
    margin-bottom: 50px;
    align-items: center;
    text-align: center;
  }
}

/* Tariffs List Section */
.tariffList {
  padding: var(--section-padding-main);
  background: var(--background-third);
}

.tariffListTitle {
  margin-bottom: 90px;
  color: var(--font-color-third);
  font-size: var(--font-size-xxl);
}

.tariffListRow {
  margin-bottom: 105px;
}

.tariffItem {
  display: flex;
  flex-direction: column;
}

.tariffItem h3 {
  color: black;
  font-size: var(--font-size-lg);
}

.tariffItem h4 {
  color: black;
  font-size: var(--font-size-banner);
}

.tariffItem p {
  color: var(--font-color-second);
  font-size: var(--font-size-md);
}

.tariffListLink {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
  padding: 0 60px;
  height: 60px;
  background: var(--background-main);
  border-radius: var(--border-radius-main);
  color: var(--font-color-main);
  font-size: var(--font-size-xl);
}

.tariffListLink:hover {
  color: var(--font-color-main);
}

@media screen and (max-width: 767px) {
  .tariffList {
    text-align: center;
  }

  .tariffItem {
    margin-bottom: 50px;
  }

  .tariffItem:last-child {
    margin-bottom: 0;
  }
}

/* Additional Features */
.additionalFeatures {
  padding: var(--section-padding-second);
  background: var(--background-fourth);
}

.additionalFeaturesDark {
  background: var(--background-main);
}

.additionalFeaturesBlack {
  background: var(--background-second);
}

.additionalFeaturesGradient {
  background: linear-gradient(to right bottom, #EFA875, #CBA7CB, #64B4F3);
}

.additionalFeaturesItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.additionalFeaturesItem h3 {
  margin-bottom: 28px;
  color: var(--font-color-third);
  font-size: var(--font-size-xxl);
}

.additionalFeaturesItem p {
  margin-bottom: 20px;
  color: var(--font-color-second);
  font-size: var(--font-size-lg);
}

.additionalFeaturesItem p:last-child {
  margin-bottom: 0;
}

.additionalFeaturesItemDark h3,
.additionalFeaturesItemBlack h3 {
  color: var(--font-color-main);
}

.additionalFeaturesItem a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  height: 45px;
  border: var(--border-main);
  border-radius: var(--border-radius-main);
  color: var(--font-color-main);
  font-size: var(--font-size-xl);
}

.additionalFeaturesItemGradient a {
  background: var(--background-fourth);
  color: var(--font-color-third);
}

@media screen and (max-width: 767px) {
  .additionalFeatures {
    text-align: center;
  }

  .additionalFeaturesItem {
    align-items: center;
  }
}
