.page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-size: 32px;
  color: #fff;
  text-align: center;
}

.page button {
  font-size: 32px;
  color: #fff;
  transition: opacity .3s ease-out;
}

.page button:hover {
  opacity: .5;
}
