.button {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.black {
  background: url('assets/close-black.svg') no-repeat center;
  background-size: 30px;
}

.white {
  background: url('assets/close-white.svg') no-repeat center;
  background-size: 30px;
}
