.modal {
  position: fixed;
  z-index: var(--index-modal);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background: var(--shadow);
  opacity: 0;
  transition: opacity var(--time-md);
}

.modalEnter,
.modalEnterActive,
.modalEnterDone,
.modalExit {
  display: flex;
}

.modalEnterActive,
.modalEnterDone {
  opacity: 1;
}

.modalExit {
  opacity: 0;
}

.dialog {
  position: absolute;
  top: var(--spacing-lg);
  right: var(--spacing-lg);
  bottom: var(--spacing-lg);
  left: var(--spacing-lg);
  display: flex;
  background: var(--dark);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-md);
  overflow: hidden;
}

.close {
  position: absolute;
  z-index: 10;
  top: var(--spacing-sm);
  right: var(--spacing-sm);
}

.settings, .preview {
  min-width: 50%;
  width: 50%;
  max-width: 50%;
  height: 100%;
}

.selector {
  margin: var(--spacing-lg) var(--spacing-lg) var(--spacing-md) var(--spacing-lg);
}

.form {
  margin: 0 var(--spacing-lg);
}
