.modal {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 100;
}

.modal.active {
  display: flex;
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
}

.left {
  padding: 15px;
  width: 50%;
  background: var(--steel-gray);
}

.leftContent {
  margin: 0 auto;
  padding-top: 50px;
  max-width: 500px;
}

.right {
  width: 50%;
}
