.wrapper {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
}

.head {
  display: grid;
  grid-template-columns: 250px 100px 100px auto;
  grid-template-rows: 65px;
}

.head .item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: none;
  font-weight: 700;
  text-transform: uppercase;
}
