.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 var(--spacing-sm);
  height: 50px;
  background-color: var(--gray);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-sm);
  cursor: default;
}

.wrapper span {
  margin-right: 5px;
  font-weight: 600;
}
