.wrapper {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background: var(--gray);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-sm);
}

.header {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 200px;
  height: 1px;
  background-color: var(--white);
}

.body {}

.controls {
  display: flex;
}

.controls > * {
  margin-right: 15px;
}

.controls > *:last-child {
  margin-right: 0;
}
