.wrapper {
  padding: var(--spacing-sm);
  background: var(--gray);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-sm);
}

.title {
  position: relative;
  margin-bottom: calc(var(--spacing-sm) - 5px);
  padding-bottom: 5px;
  color: var(--white);
  font-size: var(--font-size-md);
  font-weight: bold;
  cursor: default;
}

.title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 200px;
  height: 1px;
  background: var(--white);
}
