.wrapper {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-sm);
  background: var(--gray);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-sm);
}

.wrapper h2 {
  position: relative;
  margin-bottom: calc(var(--spacing-sm) - 5px);
  color: var(--white);
  font-size: var(--font-size-md);
  font-weight: bold;
  cursor: default;
}

.wrapper h2::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 200px;
  height: 1px;
  background: var(--white);
}

.wrapper fieldset {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing-xs);
  flex: 1;
}

.wrapper fieldset:last-child {
  margin-bottom: 0;
}

.wrapper label {
  margin-bottom: var(--spacing-xxs);
  color: var(--white);
  font-size: var(--font-size-md);
  cursor: default;
}

.buttonWrapper {
  display: flex;
  flex-direction: row !important;
}

.buttonWrapper > * {
  margin-right: var(--spacing-md);
}

.buttonWrapper > *:last-child {
  margin-right: 0;
}

.buttonWrapper button {
  width: 150px;
  height: var(--size-sm);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-sm);
  color: var(--white);
  font-size: var(--font-size-md);
}

.accept {
  background: var(--green-teal);
}

.decline {
  border: 1px solid var(--white);
}
