.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--spacing-sm);
  padding-left: var(--spacing-md);
  padding-right: calc(var(--spacing-sm) + 50px);
  background: var(--gray);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-sm);
  color: var(--white);
}

.wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: var(--spacing-sm);
  background-color: var(--yellow);
  background-image: var(--orange-yellow);
  border-top-left-radius: var(--radius-sm);
  border-bottom-left-radius: var(--radius-sm);
}

.title {
  margin-bottom: var(--spacing-sm);
  font-size: var(--font-size-md);
  font-weight: bold;
  cursor: default;
}

.description {
  font-size: var(--font-size-md);
  font-weight: 300;
  cursor: default;
}

.button {
  position: absolute;
  top: var(--spacing-xs);
  right: var(--spacing-xs);
}
