.wrapper {
  position: relative;
  background-color: var(--ebony-clay);
  box-shadow: var(--box-shadow-main);
  border-radius: var(--radius-md);
}

.button {
  position: relative;
  padding: 0 var(--padding-md);
  padding-right: 40px;
  height: 40px;
  color: var(--white);
  font-size: var(--font-size-lg);
  font-weight: bold;
}

.button::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  width: 40px;
  height: 40px;
  background: url('assets/arrow-down.svg') no-repeat center;
  background-size: 15px;
}

.button.isOpen::after {
  transform: rotate(180deg);
}

.dropdown {
  position: absolute;
  top: calc(100% + 15px);
  right: 0;
  display: none;
  flex-direction: column;
  padding: var(--padding-sm);
  background-color: var(--white);
  border-radius: var(--radius-md);
  color: var(--gray);
  font-size: var(--font-size-lg);
}

.dropdown.isOpen {
  display: flex;
}

.dropdown > * {
  margin-bottom: 5px;
}

.checkbox {
  position: relative;
  padding: 0 15px;
  padding-left: 25px;
  height: 25px;
  color: inherit;
  font-size: var(--font-size-md);
  text-align: start;
  transition: opacity 0.5s ease-out;
}

.checkbox:hover {
  opacity: .5;
}

.checkbox:active {
  filter: brightness(0%);
  opacity: 1;
}

.checkbox::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 25px;
  height: 25px;
  background: url('assets/blank-check-box.svg') no-repeat center;
  background-size: 15px;
}

.checkbox.checked::before {
  background: url('assets/check-box.svg') no-repeat center;
  background-size: 15px;
}
