.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  height: 40px;
  width: 40px;
  height: 40px;
  background: url('assets/delete.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
  border: 1px solid white;
  color: #fff;
  font-size: 16px;
  border-radius: 8px;
  transition: .5s ease-out;
}

.button:hover {
  background: #fd5d93 url('assets/delete.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
  background-color: #e14eca;
  box-shadow: 2px 2px 6px rgba(0,0,0,.4);
  transform: translateY(-1px);
}
