.button {
  padding: 0 15px;
  min-height: 40px;
  border-radius: 8px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  transition: .15s ease;
}

.button:hover {
  box-shadow: 2px 2px 6px rgba(0,0,0,.4);
  transform: translateY(-1px);
}

.button:active {
  transform: translateY(1px);
}

.purple {
  background: #e14eca;
  background-image: linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca);
  background-size: 210% 210%;
  background-position: 100% 0;
  background-color: #e14eca;
}

.red {
  background: #fd5d93;
  background-image: linear-gradient(to bottom left, #fd5d93, #ec250d, #fd5d93);
  background-size: 210% 210%;
  background-position: 100% 0;
  background-color: #fd5d93;
}

.empty {
  border: 1px solid #fff;
}
