.wrapper {
  position: fixed;
  top: 50%;
  left: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 150px;
  transform: translateY(-50%);
}

.nav {
  display: flex;
  flex-direction: column;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  padding-top: 15px;
  flex: 1;
  color: var(--light-gray);
  text-transform: uppercase;
}

.link:last-child {
  margin-bottom: 0;
}

.link p {
  transition: color .3s ease-out;
}

.link.active p {
  color: var(--white);
}

.icon {
  margin-bottom: 5px;
}
