.form {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-sm);
  background-color: var(--gray);
  border-radius: var(--radius-sm);
}

.field, .fieldRow {
  margin-bottom: var(--spacing-md);
}

.fieldRow {
  display: flex;
}

.amountInput {
  flex: 1;
}

.currencySelect {
  margin-left: var(--spacing-sm);
  width: 100px;
}
