.sidebar {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  min-height: 100vh;
  padding: 95px 0 15px 15px;
}

.panel {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: var(--padding-main);
  width: 230px;
  background: var(--background-second);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-main);
}

.nav {
  display: flex;
  flex: 1;
}

.list {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.item {
  display: flex;
  margin: var(--item-margin-main);
  height: var(--item-height-main);
}

.item:last-child {
  margin-bottom: 0;
}

.link {
  display: flex;
  align-items: center;
  flex: 1;
  padding: var(--item-padding-main);
  color: var(--font-color-main);
  font-size: var(--font-size-md);
  text-transform: uppercase;
  transition: opacity .3s ease-out;
}

.link:hover {
  color: var(--font-color-main);
  text-decoration: none;
  opacity: .5;
}

.link p {
  margin-left: 5px;
}

.link i {
  font-size: 16px;
}

.important a {
  border: 1px solid #e14eca;
  border-radius: 15px;
}

.wrapper {
  display: none;
  justify-content: flex-end;
}

.close {
  display: flex;
  width: 25px;
  height: 25px;
  background: url('assets/close.svg') no-repeat center;
  background-size: 15px;
}

@media screen and (max-width: 1199px) {
  .sidebar {
    left: -100vw;
    padding: 0;
    transition: left .3s ease-out;
  }

  .wrapper {
    display: flex;
  }

  .sidebar.active {
    left: 0;
  }
}
