.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size-sm);
  height: var(--size-sm);
  background: var(--gray);
  border-radius: 50%;
  box-shadow: var(--shadow-sm);
}
