.wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.nickname { 
  margin-right: 15px;
  font-weight: 600;
}

.avatar {
  width: 50px;
  height: 50px;
  background: var(--gray);
  border-radius: 50%;
  box-shadow: var(--shadow-sm);
}
