html,
body {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  word-wrap: break-word;
  background-color: var(--background-main);
  color: var(--font-color-main);
  font-size: var(--font-size-lg);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 400;
}

h2 {
  margin-bottom: 25px;
  font-size: var(--font-size-xxl);
}

button {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

form {
  margin: 0
}

ul,
ol {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

#root {
  min-height: 100vh;
}

main {
  margin: 15px 0 15px 260px;
}

@media screen and (max-width: 1199px) {
  main {
    margin-left: 0;
  }
}
