:root {
  /* Padding */
  --padding-sm: 5px;
  --padding-md: 15px;

  /* Border Radius */
  --radius-md: 5px;

  /* Color */
  --black: #000000;
  --white: #ffffff;
  --gray: #9a9a9a;
  --steel-gray: #1e1e2f;
  --ebony-clay: #27293d;
  --ebony-clay-transparent: rgba(39, 41, 61, 0);
  --ebony-clay-translucent: rgba(39, 41, 61, .5);

  /* Shadow */
  --box-shadow-md: 0 0 45px 0 rgba(0, 0, 0, .6);
}

:root {
  /* Main */
  --padding-main: 15px;
  --background-main: #1e1e2f;
  --background-second: #27293d;
  --border-radius: 5px;
  --box-shadow-main: 0 0 45px 0 rgba(0,0,0,.6);
  --font-color-main: #ffffff;

  --font-size-sm: 10px;
  --font-size-md: 12px;
  --font-size-lg: 16px;
  --font-size-xxl: 28px;

  /* Item */
  --item-margin-main: 0 0 15px 0;
  --item-padding-main: 0 15px;
  --item-height-main: 50px;

  /* Popup */
  --popup-padding: 5px;
  --popup-item-margin: 0 0 5px 0;
  --popup-item-padding: 10px 25px;
  --popup-item-height: 40px;
  --popup-background: #ffffff;
  --popup-border-radius: 8px;
  --popup-box-shadow: 0 10px 50px 0 rgba(0, 0, 0, .2);
  --popup-font-color: #9a9a9a;
  --popup-font-size: 12px;
}

@media screen and (max-width: 575px) {
  :root {
    --font-size-lg: 14px;
    --font-size-xxl: 20px;
  }
}
