.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size-sm);
  height: var(--size-sm);
}

.dropdown {
  position: absolute;
  z-index: 100;
  top: calc(100% + var(--spacing-sm));
  right: 0;
  display: none;
  padding: var(--spacing-sm);
  width: max-content;
  background: var(--gray);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-md);
  opacity: 0;
  transition: opacity .5s ease-out;
}

.dropdownEnter,
.dropdownEnterActive,
.dropdownEnterDone,
.dropdownExit {
  display: flex;
}

.dropdownEnterActive,
.dropdownEnterDone {
  opacity: 1;
}

.dropdownExit {
  opacity: 0;
}
