.footer {
  padding: 75px 0 45px 0;
  background: var(--background-main);
}

.info {
  display: flex;
  flex-direction: column;
}

.info p {
  color: var(--font-color-second);
  font-size: var(--font-size-sm);
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--font-size-sm);
}

.nav ul {
  flex-direction: column;
}

.nav h5 {
  margin-bottom: 15px;
  color: var(--font-color-second);
  text-transform: uppercase;
}

.nav li {
  margin-bottom: 15px;
}

.nav li:last-child {
  margin-bottom: 0;
}

.nav a {
  color: var(--font-color-main);
}

@media screen and (max-width: 991px) {
  .info img {
    width: 75px !important;
    height: 75px !important;
    min-height: 75px !important;
    max-height: 75px !important;
  }
}

@media screen and (max-width: 767px) {
  .info {
    align-items: center;
    margin-bottom: 25px;
    text-align: center;
  }

  .info img {
    width: 50px !important;
    height: 50px !important;
    min-height: 50px !important;
    max-height: 50px !important;
  }

  .nav {
    display: flex;
    margin-bottom: 25px;
    align-items: center;
    text-align: center;
  }
}
