.page h1 {
  margin-bottom: 25px;
}

.page h3 {
  margin-bottom: 15px;
}

.field, .fieldRow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 25px;
}

.field:last-child, .fieldRow:last-child {
  margin-bottom: 0;
}

.fieldRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fieldRow p {
  margin-right: 15px;
}

.textarea {
  padding: 8px;
  width: 500px;
  height: 200px;
  background: var(--background-main);
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  font-size: 16px;
}

@media screen and (max-width: 991px) {
  .textarea {
    width: 100%;
  }
}
