.fieldset {
  position: relative;
  display: flex;
  height: var(--size-lg);
  background-color: var(--dark);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-sm);
}

.fieldset::before {
  content: '';
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--orange-pink);
  border-radius: var(--radius-xs);
  opacity: 0;
  transition: opacity var(--time-sm);
}

.fieldsetError::before {
  opacity: 1;
}

.fieldset::after {
  content: '';
  z-index: 1;
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  background: var(--dark);
  border-radius: var(--radius-xs);
}

.label {
  position: absolute;
  z-index: 2;
  top: 12px;
  left: 0;
  margin-bottom: 0;
  padding: 0 var(--spacing-sm);
  color: var(--light-gray);
  font-size: var(--font-size-xl);
  transition: all var(--time-sm);
}

.fieldsetFocused label {
  top: 7px;
  font-size: var(--font-size-sm);
}

.input {
  position: relative;
  z-index: 2;
  flex: 1;
  padding: var(--spacing-sm) var(--spacing-sm) 0 var(--spacing-sm);
  background-color: transparent;
  border: none;
  color: var(--white);
  font-size: var(--font-size-xl);
}

.fieldsetDisabled .input {
  opacity: 0.8;
}

.loader {
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 15px;
  width: 25px;
  height: 25px;
  transform: translateY(-50%);
}

.errorIcon {
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 15px;
  width: 25px;
  height: 25px;
  transform: translateY(-50%);
}

.errorMessage {
  position: absolute;
  z-index: 2;
  top: 100%;
  left: 0;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: var(--orange-pink);
  background-position-x: 0%;
  background-position-y: 0%;
  background-clip: border-box;
  background-position: 0 0;
  color: red;
  font-size: var(--font-size-sm);
  font-weight: 300;
}
