.wrapper {
  display: flex;
  align-items: center;
  flex: 1;
  height: 80px;
  min-height: 80px;
  background: rgba(0, 0, 0, 0.75);
  font-size: 16px;
}

.button {
  display: inline-flex;
  text-transform: lowercase;
}

.link {
  font-weight: 600;
}
