.header {
  display: flex;
  padding: 15px 0;
}

.wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hamburger {
  display: none;
  width: 50px;
  height: 50px;
  background: url('assets/hamburger.svg') no-repeat center;
  background-size: 35px;
}

.dropdown {
  position: relative;
  display: flex;
}

.balance {
  display: flex;
  align-items: center;
  margin-right: 25px;
}

.menu {
  position: relative;
  padding: 0 50px 0 0;
}

.menu::after {
  content: '';
  position: absolute;
  top: 12px;
  right: 12px;
  width: 25px;
  height: 25px;
  background: url('assets/arrow-down.svg');
  background-size: 25px;
}

.menu.active::after {
  transform: rotate(180deg);
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.nav {
  position: absolute;
  z-index: 10;
  top: calc(100% + 15px);
  right: 0;
  display: none;
  padding: var(--popup-padding);
  width: max-content;
  background: var(--popup-background);
  border-radius: var(--popup-border-radius);
  box-shadow: var(--popup-box-shadow);
}

.nav.active {
  display: flex;
}

.list {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  margin: var(--popup-item-margin);
  height: var(--popup-item-height);
}

.item:last-child {
  margin-bottom: 0;
}

.link {
  display: flex;
  align-items: center;
  flex: 1;
  padding: var(--popup-item-padding);
  color: var(--popup-font-color);
  font-size: var(--popup-font-size);
  transition: opacity .3s ease-out;
  text-align: start;
}

.link:hover {
  color: var(--popup-font-color);
  text-decoration: none;
  opacity: .5;
}

.langbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 0 15px;
  padding: 0 15px;
  height: 40px;
  border-radius: 8px;
  background: #0077ff;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}

.balanceBoard {
  margin-right: 30px;
}

@media screen and (max-width: 1199px) {
  .wrapper {
    justify-content: space-between;
  }

  .hamburger {
    display: flex;
  }
}
