.wrapper {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-sm);
  min-height: 144px;
  background: var(--gray);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-sm);
  color: var(--white);
}

.title {
  position: relative;
  margin-bottom: calc(var(--spacing-sm) - 5px);
  padding-bottom: 5px;
  font-size: var(--font-size-xl);
  font-weight: bold;
  cursor: default;
}

.title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 400px;
  height: 1px;
  background: var(--white);
}

.subtitle {
  margin-bottom: var(--spacing-sm);
  font-size: var(--font-size-sm);
  font-weight: 300;
  cursor: default;
}

.field {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-sm);
}

.field:last-child {
  margin-bottom: 0;
}

.field > * {
  margin-right: var(--spacing-md);
}

.field > *:last-child {
  margin-right: 0;
}

.linkWrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 var(--spacing-sm);
  max-width: 300px;
  height: var(--size-sm);
  background: var(--dark);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-sm);
  font-size: var(--font-size-md);
  overflow: hidden;
  white-space: nowrap;
}

.linkWrapper::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 40px;
  background-image: linear-gradient(270deg, var(--dark) 50%, rgba(28, 28, 30, 0) 100%);
}
