.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  position: relative;
  height: 3em;
  width: 3em;
  cursor: pointer;
  font-size: 12px;
  transition: all .2s;
}

.icon span {
  top: 50%;
  transform: translateY(-50%);
}

.icon span,
.icon span::before,
.icon span::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: .25em;
  background-color: #fff;
  border-radius: .25em;
  transform: rotate(0);
  transition: top .2s .2s,left .1s,transform .2s,background-color .4s .2s;
  pointer-events: none;
}

.icon span::before,
.icon span::after {
  width: 2em;
}

.icon span::before {
  top: 1em;
  left: 1em;
}

.icon span::after {
  top: -1em;
  left: 0;
}

.icon.open span,
.icon.open span::before,
.icon.open span::after {
  transition: background-color .2s,top .2s,left .2s,transform .2s .15s;
}

.icon.open span {
  background-color: initial;
}

.icon.open span::before,
.icon.open span::after {
  left: .5em;
  top: 0;
}

.icon.open span::before {
  transform: rotate(-45deg);
}

.icon.open span::after {
  transform: rotate(45deg);
}
