.wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.button {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: url('assets/copy.svg') no-repeat center;
  background-size: 30px;
}

.button::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--ebony-clay-translucent) url('assets/ok.svg') no-repeat center;
  background-size: 30px;
  opacity: 0;
  transition: opacity .3s ease;
}

.button.active::after {
  opacity: 1;
}
