.block {
  margin-bottom: 30px;
  padding: var(--padding-main);
  background: var(--background-second);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-main);
}

.block:last-child {
  margin-bottom: 0;
}
