.page h1 {
  margin-bottom: 40px;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to bottom left,#e14eca,#ba54f5,#e14eca);
  background-position-x: 0%;
  background-position-y: 0%;
  background-clip: border-box;
  background-position: 0 0;
  color: white;
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  transition: all 0.8s ease-in-out, font-size 0s;
}

.page strong {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to bottom left,#e14eca,#ba54f5,#e14eca);
  background-position-x: 0%;
  background-position-y: 0%;
  background-clip: border-box;
  background-position: 0 0;
  color: white;
}

.page h2 {
  margin-bottom: 30px;
  font-size: 32px;
}

.page ul {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.page li {
  position: relative;
  padding-left: 15px;
  font-size: 18px;
}

.page li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: white;
  transform: translateY(-50%);
}
