.wrapper {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-sm);
  background: var(--gray);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-sm);
}

.title {
  position: relative;
  margin-bottom: calc(var(--spacing-sm) - 5px);
  padding-bottom: 5px;
  font-weight: bold;
  cursor: default;
}

.title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 400px;
  height: 1px;
  background: var(--white);
}

.field {
  display: flex;
  align-items: center;
}

.field > * {
  margin-right: var(--spacing-md);
}

.field > *:last-child {
  margin-right: 0;
}

.linkContainer {
  display: flex;
  align-items: center;
  padding: var(--spacing-sm);
  height: var(--size-sm);
  background: var(--dark);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-sm);
}
