.wrapper {
  position: relative;
}

.toggle {
  display: flex;
  align-items: center;
}

.toggle:hover {
  opacity: 1;
}

.profile {
  margin-right: 30px;
}

.burger {
  width: 50px;
  height: 50px;
  background: var(--gray);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-sm);
}

.dropdown {
  position: absolute;
  z-index: 100;
  top: calc(100% + 15px);
  right: 0;
  display: none;
  padding: 15px;
  width: max-content;
  background: var(--gray);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-md);
  opacity: 0;
  transition: opacity .5s ease-out;
}

.dropdownEnter,
.dropdownEnterActive,
.dropdownEnterDone,
.dropdownExit {
  display: flex;
}

.dropdownEnterActive,
.dropdownEnterDone {
  opacity: 1;
}

.dropdownExit {
  opacity: 0;
}

.dropdown ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
}

.dropdown li > * {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
