.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 15px 30px 15px 15px;
}

.wrapperLoading {
  justify-content: center;
}

.challengeItem {
  margin-bottom: 30px;
}

.challengeItem:last-child {
  margin-bottom: 0;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding-bottom: 130px;
}

.empty p {
  font-size: var(--font-size-xl);
  font-weight: bold;
  cursor: default;
}

.filter {
  margin-left: auto;
  margin-bottom: 30px;
}
