.button {
  padding: 0;
  width: 120px;
  height: 40px;
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-sm);
  color: var(--white);
  font-size: var(--font-size-md);
  font-weight: bold;
}

.buttonGreen {
  background: var(--green-teal);
}

.buttonRed {
  background: var(--orange-pink);
}
