.wrapper {
  display: flex;
  flex-direction: column;
}

.field {
  display: flex;
  align-items: center;
}

.field > * {
  margin: 0 15px 0 0;
}

.field > *:last-child {
  margin-right: 0;
}

.url {
  position: relative;
  max-width: 250px;
  overflow: hidden;
  white-space: nowrap;
}

.url::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  width: 100px;
  background-image: linear-gradient(to right, var(--ebony-clay-transparent), var(--ebony-clay));
}
