.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: var(--spacing-sm);
  height: var(--size-sm);
  background: var(--dark);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-sm);
  overflow: hidden;
}

.wrapper input[type=text] {
  padding: 0 var(--spacing-sm);
  flex: 1;
  height: 100%;
  background: var(--dark);
  border: none;
  color: var(--white);
  font-size: var(--font-size-md);
}

.wrapper input[type=color] {
  padding: 0;
  width: 20px;
  height: 23px;
  background: none;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
}


