.wrapper {
  display: flex;
}

.wrapper input[type=range] {
  flex: 1;
  margin-right: var(--spacing-sm);
}

.wrapper input[type=number] {
  padding: 0 var(--spacing-sm);
  background: var(--dark);
  width: 80px;
  height: var(--size-sm);
  border: none;
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-sm);
  color: var(--white);
  font-size: var(--font-size-md);
}
