.wrapper {
  display: grid;
  grid-template-areas:
    'nickname price status  date. submit decline voice view delete'
    'desc desc desc desc desc desc desc desc desc desc';
  grid-template-columns: 250px 100px 100px 100px auto 115px 115px 65px 65px 65px;
  grid-template-rows: 65px auto;
  align-content: stretch;
  border-top: 1px solid hsla(0, 0%, 100%, .1);
}

.wrapper > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nickname {
  grid-area: nickname;
  justify-content: flex-start;
  padding: 0 7.5px;
}

.price {
  grid-area: price;
  flex-direction: column;
}

.price span:last-child {
  color: rgba(255, 255, 255, 0.3)
}

.status {
  grid-area: status;
}

.date {
  grid-area: date;
}

.submit {
  grid-area: submit;
  padding: 0 7.5px;
}

.submit > * {
  width: 100%;
}

.decline {
  grid-area: decline;
  padding: 0 7.5px
}

.decline > * {
  width: 100%;
}

.voice {
  grid-area: voice;
  padding: 0 7.5px;
}

.view {
  grid-area: view;
  padding: 0 7.5px;
}

.delete {
  grid-area: delete;
  padding: 0 7.5px;
}

.description {
  grid-area: desc;
  justify-content: flex-start;
  padding: 0 7.5px 7.5px 7.5px;
}
