.content {
  display: flex;
  align-items: center;
}

.link, .button, .message {
  display: flex;
  margin-right: 15px;
}


.message:last-child {
  margin-right: 0;
}

@media screen and (max-width: 575px) {
  .content {
    justify-content: space-between;
  }

  .link {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    max-width: 200px;
  }
  
  .link::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    width: 100px;
    background-image: linear-gradient(to right, rgba(39, 41, 61, 0), rgba(39, 41, 61, 1));
  }

  .button {
    margin-right: 0;
  }

  .message {
    display: none;
  }
}
