.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: url('assets/question-mark.svg') no-repeat center;
  background-size: 20px;
  cursor: pointer;
}
