.button {
  padding: 0 15px;
  min-height: 40px;
  width: 40px;
  height: 40px;
  background-image: url('assets/view.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
  border: 1px solid white;
  border-radius: 8px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  transition: .5s ease-out;
}

.button:hover {
  background: #fd5d93 url('assets/view.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
  box-shadow: 2px 2px 6px rgba(0,0,0,.4);
  transform: translateY(-1px);
}

.button.active {
  background: #fd5d93 url('assets/view.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
}

.disabled {
  filter: brightness(0.5);
}

.disabled:hover {
  background: url('assets/view.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateY(0px);
}
