.button {
  position: relative;
  display: flex;
  align-items: center;
  height: var(--size-sm);
  padding: 0 var(--spacing-sm);
  background-color: var(--yellow);
  background-image: var(--orange-yellow);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-sm);
  font-size: var(--font-size-md);
  font-weight: bold;
}

.button::before {
  content: '';
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  display: block;
  background: var(--gray);
  border-radius: var(--radius-xs);
  opacity: 1;
  transition: opacity var(--time-sm);
}

.button > * {
  position: relative;
}

.text {
  margin-right: var(--spacing-sm);
}

.button:hover::before {
  opacity: 0;
}
