.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 40px;
  height: 40px;
  background: var(--white);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-sm);
  overflow: hidden;
  transition: opacity .3s ease-in background 0.5s ease-in;
}

.button::before {
  content: '';
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  z-index: 1;
  display: flex;
  background: var(--gray);
  border-radius: 7px;
}

.button::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  background: var(--teal-purple);
  opacity: 0;
  transition: opacity .3s ease-out;
}

.button > * {
  z-index: 3;
} 

.buttonActive::after {
  opacity: 1;
}


/* .button {
  padding: 0 15px;
  min-height: 40px;
  width: 40px;
  height: 40px;
  background-image: url('assets/view.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
  border: 1px solid white;
  border-radius: 8px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  transition: .5s ease-out;
}

.button:hover {
  background: #fd5d93 url('assets/view.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
  box-shadow: 2px 2px 6px rgba(0,0,0,.4);
  transform: translateY(-1px);
}

.button.active {
  background: #fd5d93 url('assets/view.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
}

.disabled {
  filter: brightness(0.5);
}

.disabled:hover {
  background: url('assets/view.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateY(0px);
} */
