.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  transition: opacity 0.3s ease-out;
  opacity: 0;
}

.wrapper.active {
  opacity: 1;
}

.wrapper h2 {
  margin: 0 0 15px;
}

.wrapper p {
  margin: 0;
}
