.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 var(--spacing-sm);
  height: var(--size-sm);
  background-color: var(--white);
  background-image: var(--gradient-orange-pink-teal);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-sm);
  color: var(--white);
  font-size: var(--font-size-md);
  font-weight: bold;
}

.wrapper::before {
  content: '';
  z-index: 1;
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  background-color: var(--dark);
  border-radius: var(--radius-xs);
  transition: opacity var(--time-sm);
}

.content, .contentHover {
  z-index: 2;
  transition: opacity var(--time-sm);
}

.content {
  background: var(--gradient-orange-pink-teal);
  background-position: 0 0;
  background-position-x: 0%;
  background-position-y: 0%;
  background-clip: border-box;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
}

.contentHover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
}

.wrapper:hover::before {
  opacity: 0;
}

.wrapper:hover .content {
  opacity: 0;
}

.wrapper:hover .contentHover {
  opacity: 1;
}

.variantLarge {
  padding: 0 var(--spacing-lg);
  height: var(--size-lg);
  font-size: var(--font-size-xl);
}

.variantLink {
  display: inline-flex;
  padding: 0;
  height: auto;
  background: none;
}

.variantLink::before {
  content: none;
}
