.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: var(--ebony-clay);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-main);
}
